section{
   width: 100%;
   position : 0 auto;
   height: 50px;
}
.nav1{
   float: left;
   margin-left: -8px;
}
a{
   text-decoration: none;
   font-size: 10px;
   }
  a: active{
	  color: green;
  }
li{    display: inline-block;
}
nav ul
{
	list-style:none;
	position:relative;
	position:relative;
	float:left;
	margin:0;
	padding:0
}
nav ul a
{
	display:block;
	text-decoration:none;
	font-weight:700;
	font-size: 12px;
	line-height: 29px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

nav ul ul
{
	display:none;
	}
/*
header nav ul>li a {
	background: url(../IMAGE/sprite.png) no-repeat;
    display: table-cell;
	color: #fff;
}*/
nav{
    background: #422100;
    width: 76%;
    }
	
nav a:link,
nav a:visited{
    color: #fff;
    background: #503737;
    padding: 5px 20px;
    float: center;
    text-decoration: none;
    }
.maindiv{
	margin-top: -10px;
	width: 70%;
	background-color: green;
}
img{
	width: 300px;
	padding-left: 24px;
}
.righContent{
	float: right;
	background-color: lightpink;
	width: 61%;
	height: 700px;
}
.rightdiv{
	height: 150px;
	background-color: red;
}
h1{
	font-size: 54px;
	margin: 0px;
	font-weight: 600;
	color: #4d3334;
}
p{
	font-family: Arial, Sans-serif;
    font-weight: 700;
    color: #008c7d;
    padding-left: 12px;
}
span{
    font-size: 21px;
	color: #4d3334;
 }
.contents{
    background-color: yellow;
    padding: 40px 0px 0px 12px;
	padding-left: 20px;
	height: 200px;
 }
.contents ul li a{
	font-size: 23px;
	font-weight: bold;
	color: #4b3232;
} 
.contents ul li div{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	height: 61px;
	border-radius: 5px;
	background: url(..)
}
 
